################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WebMVC/v15/Server/sqlite3
/.vs
/Quartz.Net.Demo/bin
bin
obj
bin
obj
.vs
obj
bin
