@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>员工信息展示</title>
    <link rel="stylesheet" type="text/css" href="~/Content/EasyUI/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/EasyUI/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/EasyUI/demo/demo.css">
    <link href="~/Content/CX.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/EasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Content/ajaxfileupload.js"></script>
    <script type="text/javascript">
        $(function () {
            initList();
            InitSearch();//查询
            //添加信息
            AddList();
            //$("#btnAdd").click(AddList);//添加
            UpdateList();//修改
        });

        function initList(queryData) {
            $('#tbEmployee').datagrid({
                url: '/Home/GetEmployee?r=' + Math.random(),   //指向后台的Action来获取当前用户的信息的Json格式的数据
                iconCls: 'icon-view',//图标
                //fit: true,//自动适屏功能
                fit: true,
                width: function () { return document.body.clientWidth * 0.9 },//自动宽度
                nowrap: true,
                autoRowHeight: true,//自动行高
                striped: true,
                collapsible: true,
                singleSelect: false,
                //sortName: 'Id',//排序列名为ID
                sortOrder: 'asc',//排序为将序
                remoteSort: false,
                idField: 'CardId',//主键值
                rownumbers: true,//显示行号
                multiSort: true,//启用排序 sortable: true //启用排序列
                pagination: true,
                pageSize: 50,
                pageList: [50, 500, 1000, 2000,5000],
                queryParams: queryData, //搜索条件查询
                frozenColumns: [[
                    { field: '选择', checkbox: 'true', width: 30, align: 'center', halign: 'center' },
                    { field: 'CardId', title: '工号', width: 150, align: 'center', halign: 'center' },
                    { field: 'PassWord', title: '密码', width: 80, align: 'center', halign: 'center' },
                    { field: 'EmployeeName', title: '名称', width: 60, align: 'center', halign: 'center' },
                    { field: 'LastClockTime', title: '上次打卡时间', width: 150, align: 'center', halign: 'center' },
                    {
                        field: 'ClockStateAM', title: '上班打卡状态', width: 80, align: 'center', halign: 'center', formatter: function (value, row, index) {
                            var week = new Date().getDay();
                            var OnTimeStart = new Date(row.OnTimeStart);
                            var OnTimeEnd = new Date(row.OnTimeEnd);
                            var res = false;//通过配置错误的时间区间来决定免打上下班卡
                            if (OnTimeStart.getHours() > OnTimeEnd.getHours() || (OnTimeEnd.getHours() == OnTimeStart.getHours() && OnTimeStart.getMinutes() >= OnTimeEnd.getMinutes()))
                                res = true;
                            if ((week == 0 && !row.NeedSun) || week == 6 && !row.NeedSta || res) {
                                return "<font color='blue' size='6'>" + '免打' + "</font>"
                            }
                            else {
                                return row.ClockStateAM ? "<font color='red' size='6'>" + '成功' + "</font>" : "未打";
                            }

                        }, sortable: true
                    },
                    {
                        field: 'ClockStatePM', title: '下班打卡状态', width: 80, align: 'center', halign: 'center', formatter: function (value, row, index) {
                            var week = new Date().getDay();
                            var OffTimeStart = new Date(row.OffTimeStart);
                            var OffTimeEnd = new Date(row.OffTimeEnd);
                            var res = false;//通过配置错误的时间区间来决定免打上下班卡
                            if (OffTimeStart.getHours() > OffTimeEnd.getHours() || (OffTimeEnd.getHours() == OffTimeStart.getHours() && OffTimeStart.getMinutes() >= OffTimeEnd.getMinutes()))
                                res = true;
                            if ((week == 0 && !row.NeedSun) || week == 6 && !row.NeedSta || res) {
                                return "<font color='blue' size='6'>" + '免打' + "</font>"
                            }
                            else {
                                return row.ClockStatePM ? "<font color='red' size='6'>" + '成功' + "</font>" : "未打";
                            }

                        }, sortable: true
                    },
                    { field: 'TotalDays', title: '总天数', width: 60, align: 'center', halign: 'center' },
                    { field: 'SurplusDay', title: '剩余天数', width: 60, align: 'center', halign: 'center', sortable: true },
                    { field: 'OnTimeStart', title: 'OnStart', width: 60, align: 'center', halign: 'center', formatter: DateTimeFormatter },
                    { field: 'OnTimeEnd', title: 'OnEnd', width: 60, align: 'center', halign: 'center', formatter: DateTimeFormatter },
                    { field: 'OffTimeStart', title: 'OffStart', width: 60, align: 'center', halign: 'center', formatter: DateTimeFormatter },
                    { field: 'OffTimeEnd', title: 'OffEnd', width: 60, align: 'center', halign: 'center', formatter: DateTimeFormatter },
                    { field: 'NeedSta', title: '周六', width: 60, align: 'center', halign: 'center', formatter: function (value, row, index) { return row.NeedSta ? "是" : "否"; } },
                    { field: 'NeedSun', title: '周日', width: 60, align: 'center', halign: 'center', formatter: function (value, row, index) { return row.NeedSun ? "是" : "否"; } },
                    { field: 'flag', title: '状态', width: 60, align: 'center', halign: 'center', formatter: function (value, row, index) { return row.flag ? "正常" : "<font color='red' size='6'>" + '停止' + "</font>" ; } },

                ]],
                toolbar: [{
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        $('#btnAdd').linkbutton('enable');
                        $('#btnAdd').click(function () {
                            $('#AddDialog').dialog('open').dialog('setTitle', '添加信息');
                        });
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-cut',
                    handler: function () {
                        var RowUpdateByID = $('#tbEmployee').datagrid('getSelections');
                        if (RowUpdateByID.length == 1) {
                            //实现绑定数据显示
                            BindUpdateList();
                            $("#UpdateDialog").dialog('open').dialog('setTitle', '修改信息');
                        }
                        else {
                            $.messager.alert("友情提示！", "每次只能修改一条，你已经选择了<font color='red'  size='6'>" + RowUpdateByID.length + "</font>条");
                        }
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        var RowDeleteByID = $('#tbEmployee').datagrid("getSelections");
                        var CardIds = "";
                        if (RowDeleteByID.length >= 1) {
                            for (var i = RowDeleteByID.length - 1; i >= 0; i--) {
                                CardIds += ',' + RowDeleteByID[i].CardId;
                            }
                            var ch = ",";
                            var reg = "/" + ch + "/g";
                            var val = "\r\n" + CardIds.replace(eval(reg), "\r\n");
                            var msg = "您确认删除以下用户吗？" + val;
                            $.messager.confirm("删除信息", msg, function (deleteClient) {
                                if (deleteClient) {
                                    $.post("/Home/Delete?r=" + Math.random(), { Id: CardIds }, function (data) {
                                        debugger
                                        if (data == "OK") {
                                            $.messager.alert("系统提示！", "删除成功");
                                            //这里要将上次删除的Id清空，否则下次再删除的时候会报错
                                            RowDeleteByID.length = "";
                                            $("#tbEmployee").datagrid('reload') //重新刷新整个页面
                                        }
                                        else {
                                            $.messager.alert("系统提示！", data);
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert("友情提示！", "每次最少删除一行，你已经选择了<font color='red' size='6'>" + RowDeleteByID.length + "</font>行");
                        }
                    }
                }, '-', {
                    id: 'btnreload',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        $("#tbEmployee").datagrid("reload");
                    }
                }, '-', {
                    id: 'btnreload',
                    text: '导出',
                    iconCls: 'icon-reload',
                    handler: function () {
                        var RowDeleteByID = $('#tbEmployee').datagrid("getSelections");
                        if (RowDeleteByID.length >= 1) {
                            var CardIds = "";
                            for (var i = RowDeleteByID.length - 1; i >= 0; i--) {
                                CardIds += ',' + RowDeleteByID[i].CardId;
                            }
                            $.post("/Home/ExportFileExcel?r=" + Math.random(), { cardids: CardIds }, function (data) {
                                location.href = location.origin + '/' + data;
                            });

                        } else {
                            $.messager.alert("友情提示！", "每次最少导出一条数据，你已经选择了<font color='red' size='6'>" + RowDeleteByID.length + "</font>行");
                        }

                    }
                }, '-', {
                    id: 'btnreload',
                    text: '导入',
                    iconCls: 'icon-reload',
                    handler: function () {
                        $('#ImportExcel').dialog('open');
                    }
                }, '-', {
                    id: 'btnhandle',
                        text: '暂停\恢复',
                    iconCls: 'icon-reload',
                    handler: function () {
                        var RowDeleteByID = $('#tbEmployee').datagrid("getSelections");
                        var CardIds = "";
                        if (RowDeleteByID.length >= 1) {
                            for (var i = RowDeleteByID.length - 1; i >= 0; i--) {
                                CardIds += ',' + RowDeleteByID[i].CardId;
                            }
                            $.messager.confirm("暂停/恢复", "您暂停/恢复该用户吗？", function (deleteClient) {
                                if (deleteClient) {
                                    $.post("/Home/btnhandle?r=" + Math.random(), { Id: CardIds }, function (data) {
                                        debugger
                                        if (data == "OK") {
                                            $.messager.alert("系统提示！", "操作成功");
                                            //这里要将上次删除的Id清空，否则下次再删除的时候会报错
                                            RowDeleteByID.length = "";
                                            $("#tbEmployee").datagrid('reload') //重新刷新整个页面
                                        }
                                        else {
                                            $.messager.alert("系统提示！", data);
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert("友情提示！", "每次最少操作一行，你已经选择了<font color='red' size='6'>" + RowDeleteByID.length + "</font>行");
                        }
                    }
                }]

            });
        }
        function DateTimeFormatter(value) {
            var date = new Date(value);
            var hour = date.getHours();
            var minutes = date.getMinutes();
            minutes = minutes < 10 ? "0" + minutes : minutes
            return hour + ":" + minutes;
        }
        //初始化搜索框
        function InitSearch() {
            //按照条件进行查询，首先我们得到数据
            $("#btnSerach").click(function () {
                //得到用户输入的参数
                var queryData = {
                    EmployeeName: $("#txtUserNameSerach").val(),
                    CardId: $("#txtCardIDSerach").val(),
                    Stop: $("#boxStop").prop("checked"),
                    SuplDay: $("#txtSuplDay").val(),
                };
                //将值传递给initTable
                initList(queryData);
                return false;
            });
        }
        function AddList() {
            $("#btnAddGo").click(function () {
                //在前台对用户输入的信息做判断，不符合要求时“添加用户”就不能提交给后台
                var valid = $("#addForm").form('validate');
                if (valid == false) {
                    return false;
                }
                var postData = $("#addForm").serializeArray();
                //Ajax异步实现加载
                $.ajax({
                    url: "/Home/Add?r=" + Math.random(),
                    data: postData,
                    type: "post",
                    success: function (data) {
                        if (data == "OK") {
                            $.messager.alert("系统提示！", "添加成功");
                            $('#AddDialog').dialog('close');
                            $("#tbEmployee").datagrid("reload");
                            $("#ANeedSta").removeAttr('checked');
                            $("#ANeedSun").removeAttr('checked');
                            $("#ACardId").val("");
                            $("#ATotalDays").val("");
                            $("#AEmployeeName").val("");
                            $("#APassWorld").val("");

                        }
                        else {
                            $.messager.alert("系统提示！", data);
                        }
                    }
                })
            });
        };
        //异步实现修改信息,btnUpdate
        function UpdateList() {
            var RowUpdateByID = $('#tbEmployee').datagrid('getSelections');
            //首先执行加载绑定数据显示在页面上面
            $("#btnUpdate").click(function () {
                //在前台验证用户提交的信息是否符合要求，若不合要求不提交
                var valid = $("#updateForm").form('validate');
                if (valid == false) {
                    return false;
                }
                var postUpdate = $("#updateForm").serializeArray();//构造参数发送给后台
                //实现异步修改数据
                $.post("/Home/Edit?r=" + Math.random(), postUpdate, function (data) {
                    if (data == "OK") {
                        $.messager.alert("系统提示！", "修改成功");
                        $("#UpdateDialog").dialog('close');
                        $("#tbEmployee").datagrid("reload");
                    }
                    else {
                        $.messager.alert("系统提示！", data);
                    }
                });
            });
        };
        //绑定修改Div中的信息控件
        function BindUpdateList() {
            var RowEditById = $("#tbEmployee").datagrid('getSelections')[0];
            debugger;
            $("#CardId").val(RowEditById.CardId);
            $("#PassWord").val(RowEditById.PassWord);
            $("#EmployeeName").val(RowEditById.EmployeeName);
            $("#TotalDays").val(RowEditById.TotalDays);
            $("#OnTimeStart").datetimebox('setValue', parsedate(RowEditById.OnTimeStart));
            $("#OnTimeEnd").datetimebox('setValue', parsedate(RowEditById.OnTimeEnd));
            $("#OffTimeStart").datetimebox('setValue', parsedate(RowEditById.OffTimeStart));
            $("#OffTimeEnd").datetimebox('setValue', parsedate(RowEditById.OffTimeEnd));
            $("#NeedSta").prop("checked", RowEditById.NeedSta);
            $("#NeedSun").prop("checked", RowEditById.NeedSun);
        }
        function parsedate(value) {
            var date = new Date(value);
            var year = date.getFullYear();
            var month = date.getMonth() + 1; //月份+1
            var day = date.getDate();
            var hour = date.getHours();
            var minutes = date.getMinutes();
            var second = date.getSeconds();
            return day + "/" + month + "/" + year + " " + hour + ":" + minutes + ":" + second;
        }
        function btnUpload() {
            //导入文件
            $('#importFileForm').form('submit', {
                url: "/Home/UploadFileExcel?r=" + Math.random(),
                onSubmit: function () {
                    $.messager.alert("系统提示！", "正在导入,请耐心等待弹窗结果..................");
                    return $(this).form('validate');
                },
                success: function (result) {
                    $.messager.alert("系统提示！", result);
                    $("#tbEmployee").datagrid("reload");
                }
            });
        };

    </script>

</head>
<body>
    <!--存放内容的主区域-->
    <div data-options="region:'north'" title="角色管理" style="height: 100px;">
        <div class="easyui-layout" id="tb" style="padding: 5px; height: auto">
            <!-------------------------------搜索框----------------------------------->
            <fieldset>
                <legend>信息查询</legend>
                <form id="ffSearch" method="post">
                    <div style="margin-bottom: 5px">
                        <label for="txtCardIDSerach">工号：</label>
                        <input type="text" class="easyui-validatebox" id="txtCardIDSerach" name="txtCardIDSerach" />&nbsp;
                        <label for="txtUserNameSerach">姓名：</label>
                        <input type="text" class="easyui-validatebox" id="txtUserNameSerach" name="txtUserNameSerach" />&nbsp;
                        <label>停止 </label><input id="boxStop" type="checkbox" />&nbsp;
                        <label>剩余天数小于：</label>
                        <input id="txtSuplDay" type="text" style="width:30px"/>&nbsp;
                        <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSerach">搜索</a>
                        <a href="/TemplateFiles/信息导入模板.xls">信息导入模板下载</a>
                    </div>
                </form>
            </fieldset>
        </div>
        <!-------------------------------详细信息展示表格----------------------------------->
    </div>
    <!-- 导入数据的弹出层-->
    <div class="easyui-dialog" id="ImportExcel" title="文件上传" style="width:400px;height:160px;padding:2px;" closed="true" resizable="true" modal="true">
        <form id="importFileForm" method="post" enctype="multipart/form-data">
            <table style="margin:5px;height:70px;">
                <tr>
                    <td>请选择文件</td>
                    <td width="5px;"></td>
                    <td><input class="easyui-filebox" id="excelImport" name="excelImport" style="width:260px;"></td>
                    <td></td>
                </tr>
            </table><div style="text-align:center;clear:both;margin:5px;">
                <a id="uploadFile" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="btnUpload();" href="javascript:void(0)">上传</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#ImportExcel').dialog('close')" href="javascript:void(0)">关闭</a>
            </div>
        </form>
    </div>
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true" style="background: #ccc;">
            <table id="tbEmployee" class="easyui-datagrid" title="员工信息" style="width:700px;height:700px"
                   data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'"></table>
        </div>
    </div>
    <!--设置添加的弹出层-->
    <div id="AddDialog" class="easyui-dialog" style="width: 300px; height:435px; padding: 10px 20px;" closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-add',buttons: '#dlg-buttons'">
        <form id="addForm" method="post" novalidate="novalidate">
            <fieldset>
                <legend>添加信息填写栏</legend>
                <table id="tblAdd">
                    <tr>
                        <td>
                            <label for="txtId">工号：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="ACardId" name="CardId" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtPwd">密码：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="APassWorld" name="PassWord" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUserName">名称：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="AEmployeeName" name="EmployeeName" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUserName">打卡天数：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="ATotalDays" name="TotalDays" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">OnStart：</label>
                        </td>
                        <td>
                            <input class="easyui-datetimebox" id="AOnTimeStart" name="OnTimeStart"
                                   data-options="required:true,showSeconds:false" value="1/1/2000 7:30" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">OnEnd：</label>
                        </td>
                        <td>
                            <input class="easyui-datetimebox" id="AOnTimeEnd" name="OnTimeEnd"
                                   data-options="required:true,showSeconds:false" value="1/1/2000 8:30" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">OffStart：</label>
                        </td>
                        <td>
                            <input class="easyui-datetimebox" id="AOffTimeStart" name="OffTimeStart"
                                   data-options="required:true,showSeconds:false" value="1/1/2000 17:30" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">OffEnd：</label>
                        </td>
                        <td>
                            <input class="easyui-datetimebox" id="AOffTimeEnd" name="OffTimeEnd"
                                   data-options="required:true,showSeconds:false" value="1/1/2000 19:00" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">周六打卡：</label>
                        </td>
                        <td>
                            <span class="radioSpan">
                                <input type="checkbox" id="ANeedSta" name="NeedSta" value="True">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">周日打卡：</label>
                        </td>
                        <td>
                            <span class="radioSpan">
                                <input type="checkbox" id="ANeedSun" name="NeedSun" value="True">
                            </span>
                        </td>
                    </tr>

                    @*<tr>
                            <td>
                                <label for="txtQuickQuery">快速查询：</label>
                            </td>
                            <td>
                                <input class="easyui-validatebox" type="text" id="txtQuickQuery" name="QuickQuery" data-options="required:true,validType:'length[1,200]'" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="txtRoleId">选择角色：</label>
                            </td>
                            <td>
                                <input class="easyui-combobox" id="txtRoleId" name="RoleId" data-options="required:true" />
                            </td>
                        </tr>*@
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddGo" iconcls="icon-ok">确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#AddDialog').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    <!--设置修改的弹出层-->
    <div id="UpdateDialog" class="easyui-dialog" style="width: 300px; height:435px; padding: 10px 20px" closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-edit',buttons: '#dlg-buttons'">
        <form id="updateForm" method="post" novalidate="novalidate">
            <fieldset>
                <legend>修改信息填写栏</legend>
                <table id="tblUpdate">

                    <tr>
                        <td>
                            <label for="txtId">工号：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" readonly="readonly" type="text" id="CardId" name="CardId" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtPwd">密码：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="PassWord" name="PassWord" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUserName">名称：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="EmployeeName" name="EmployeeName" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUserName">打卡天数：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="TotalDays" name="TotalDays" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">OnStart：</label>
                        </td>
                        <td>
                            <input class="easyui-datetimebox" id="OnTimeStart" name="OnTimeStart"
                                   data-options="required:true,showSeconds:false" value="1/1/2000 7:30" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">OnEnd：</label>
                        </td>
                        <td>
                            <input class="easyui-datetimebox" id="OnTimeEnd" name="OnTimeEnd"
                                   data-options="required:true,showSeconds:false" value="1/1/2000 8:30" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">OffStart：</label>
                        </td>
                        <td>
                            <input class="easyui-datetimebox" id="OffTimeStart" name="OffTimeStart"
                                   data-options="required:true,showSeconds:false" value="1/1/2000 17:30" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">OffEnd：</label>
                        </td>
                        <td>
                            <input class="easyui-datetimebox" id="OffTimeEnd" name="OffTimeEnd"
                                   data-options="required:true,showSeconds:false" value="1/1/2000 19:00" style="width:150px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">周六打卡：</label>
                        </td>
                        <td>
                            <span class="radioSpan">
                                <input type="checkbox" id="NeedSta" name="NeedSta" value="True">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">周日打卡：</label>
                        </td>
                        <td>
                            <span class="radioSpan">
                                <input type="checkbox" id="NeedSun" name="NeedSun" value="True">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnUpdate" iconcls="icon-ok">确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#UpdateDialog').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</body>
</html>
