@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生信息展示</title>
    <link rel="stylesheet" type="text/css" href="~/Content/EasyUI/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/EasyUI/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/EasyUI/demo/demo.css">
    <script type="text/javascript" src="~/Content/EasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/EasyUI/jquery.easyui.min.js"></script>

    <script type="text/javascript">
        $(function () {
            initList();
            InitSearch();//查询
            //添加信息
            $("#btnAdd").click(AddList);
            UpdateList();//修改
            $('#txtClassIdSerach').combobox({
                url: '/Home/GetClass?r=' + Math.random(),//数据接收URL地址
                method: 'post',
                //url: '/combobox_data1.json',
                panelHeight: 'auto',
                valueField: 'Id',//主键值
                textField: 'Realname'
            });
        });

        function initList(queryData) {
            $('#tbStudent').datagrid({
                url: '/Home/GetStudent?r=' + Math.random(),   //指向后台的Action来获取当前用户的信息的Json格式的数据
                iconCls: 'icon-view',//图标
                //fit: true,//自动适屏功能
                fit: true,
                width: function () { return document.body.clientWidth * 0.9 },//自动宽度
                nowrap: true,
                autoRowHeight: false,//自动行高
                striped: true,
                collapsible: true,
                //sortName: 'Id',//排序列名为ID
                sortOrder: 'asc',//排序为将序
                remoteSort: false,
                idField: 'Id',//主键值
                rownumbers: true,//显示行号
                multiSort: true,//启用排序 sortable: true //启用排序列
                pagination: true,
                queryParams: queryData, //搜索条件查询
                frozenColumns: [[
                { field: '选择', checkbox: 'true', width: 30 },
                { field: 'ID', title: 'ID', width: 30 },
                { field: 'UserName', title: '姓名', width: 100 },
                { field: 'RealName', title: '真实姓名', width: 100 },
                { field: 'Mobile', title: '手机号', width: 100 }
                ]],
                toolbar: [{
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        $('#btnAdd').linkbutton('enable');
                        $('#btnAdd').click(function () {
                            $('#AddDialog').dialog('open').dialog('setTitle', '添加信息');
                        });
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-cut',
                    handler: function () {
                        var RowUpdateByID = $('#tbStudent').datagrid('getSelections');
                        if (RowUpdateByID.length == 1) {
                            //实现绑定数据显示
                            BindUpdateList();
                            $("#UpdateDialog").dialog('open').dialog('setTitle', '修改信息');
                        }
                        else {
                            $.messager.alert("友情提示！", "每次只能修改一条，你已经选择了<font color='red'  size='6'>" + RowUpdateByID.length + "</font>条");
                        }
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        var RowDeleteByID = $('#tbStudent').datagrid("getSelections");
                        if (RowDeleteByID.length == 1) {
                            $.messager.confirm("删除信息", "您确认删除该条信息吗？", function (deleteClient) {
                                if (deleteClient) {
                                    $.post("/Home/Delete?r=" + Math.random(), { Id: RowDeleteByID[0].Id }, function (data) {
                                        debugger
                                        if (data == "OK") {
                                            $.messager.alert("系统提示！", "删除成功");
                                            //这里要将上次删除的Id清空，否则下次再删除的时候会报错
                                            RowDeleteByID.length = "";
                                            $("#tbStudent").datagrid('reload') //重新刷新整个页面
                                        }
                                        else {
                                            $.messager.alert("系统提示！", "删除失败");
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            $.messager.alert("友情提示！", "每次只能删除一行，你已经选择了<font color='red' size='6'>" + RowDeleteByID.length + "</font>行");
                        }
                    }
                }, '-', {
                    id: 'btnreload',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function () {
                        $("#tbStudent").datagrid("reload");
                    }
                }]

            });
        }

        //初始化搜索框
        function InitSearch() {
            //按照条件进行查询，首先我们得到数据
            $("#btnSerach").click(function () {
                //得到用户输入的参数
                var queryData = {
                    UserName: $("#txtUserNameSerach").val(),
                    ClassId: $("#txtClassIdSerach").combobox("getValue")
                };
                //将值传递给initTable
                initList(queryData);
                return false;
            });
        }

        function AddList() {
            $("#btnAdd").click(function () {
                //在前台对用户输入的信息做判断，不符合要求时“添加用户”就不能提交给后台
                var valid = $("#addForm").form('validate');
                if (valid == false) {
                    return false;
                }
                var postData = $("#addForm").serializeArray();
                //Ajax异步实现加载
                $.ajax({
                    url: "/Home/Add?r=" + Math.random(),
                    data: postData,
                    type: "post",
                    success: function (data) {
                        if (data == "OK") {
                            $.messager.alert("系统提示！", "添加成功");
                            $('#AddDialog').dialog('close');
                            $("#tbStudent").datagrid("reload");
                            $("#addForm").form("clear")
                        }
                        else {
                            $.messager.alert("系统提示！", "添加失败");
                        }
                    }
                })
            });
        };

        //异步实现修改信息,btnUpdate
        function UpdateList() {
            var RowUpdateByID = $('#tbStudent').datagrid('getSelections');
            //首先执行加载绑定数据显示在页面上面
            $("#btnUpdate").click(function () {
                //在前台验证用户提交的信息是否符合要求，若不合要求不提交
                var valid = $("#updateForm").form('validate');
                if (valid == false) {
                    return false;
                }
                var postUpdate = $("#updateForm").serializeArray();//构造参数发送给后台
                //实现异步修改数据
                $.post("/Home/Edit?r=" + Math.random(), postUpdate, function (data) {
                    if (data == "OK") {
                        $.messager.alert("系统提示！", "修改成功");
                        $("#UpdateDialog").dialog('close');
                        $("#tbStudent").datagrid("reload");
                    }
                    else {
                        $.messager.alert("系统提示！", "修改失败，请您检查");
                    }
                });
            });
        };


        //绑定修改Div中的信息控件
        function BindUpdateList() {
            var RowEditById = $("#tbStudent").datagrid('getSelections')[0];
            $("#txtIdUpdate").val(RowEditById.Id);
            $("#txtID").val(RowEditById.Id);
            $("#txtUPUserName").val(RowEditById.UserName);
            $("#txtUPRealName").val(RowEditById.RealName);
            $("#txtUPMobile").val(RowEditById.Mobile);
        }

    </script>

</head>
<body>
    <!--存放内容的主区域-->
    <div data-options="region:'north'" title="角色管理" style="height: 110px;">
        <div class="easyui-layout" id="tb" style="padding: 5px; height: auto">
            <!-------------------------------搜索框----------------------------------->
            <fieldset>
                <legend>信息查询</legend>
                <form id="ffSearch" method="post">
                    <div style="margin-bottom: 5px">
                        <label for="txtUserNameSerach">姓名：</label>
                        <input type="text" class="easyui-validatebox" id="txtUserNameSerach" name="txtUserNameSerach" />&nbsp;                       
                        <label for="txtClassIdSerach">班级：</label>
                        <input class="easyui-combobox" id="txtClassIdSerach" name="txtClassIdSerach" />&nbsp;
                        <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSerach">搜索</a>
                    </div>
                </form>
            </fieldset>
        </div>
        <!-------------------------------详细信息展示表格----------------------------------->
    </div>

    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true" style="background: #ccc;">
            <table id="tbStudent" class="easyui-datagrid" title="学生信息" style="width:700px;height:250px"
                   data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'"></table>
        </div>
    </div>
    <!--设置添加的弹出层-->
    <div id="AddDialog" class="easyui-dialog" style="width: 300px; height:435px; padding: 10px 20px;" closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-add',buttons: '#dlg-buttons'">
        <form id="addForm" method="post" novalidate="novalidate">
            <fieldset>
                <legend>添加信息填写栏</legend>
                <table id="tblAdd">
                    <tr>
                        <td>
                            <label for="txtId">代码：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtId" name="Code" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUserName">用户名称：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtUserName" name="UserName" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRealName">真实姓名：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtRealName" name="RealName" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtMobile">手机：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtMobile" name="Mobile" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    @*<tr>
                        <td>
                            <label for="txtQuickQuery">快速查询：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtQuickQuery" name="QuickQuery" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtRoleId">选择角色：</label>
                        </td>
                        <td>
                            <input class="easyui-combobox" id="txtRoleId" name="RoleId" data-options="required:true" />
                        </td>
                    </tr>*@
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAdd" iconcls="icon-ok">确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#AddDialog').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    <!--设置修改的弹出层-->
    <div id="UpdateDialog" class="easyui-dialog" style="width: 300px; height:435px; padding: 10px 20px" closed="true" resizable="true" modal="true" data-options="iconCls: 'icon-edit',buttons: '#dlg-buttons'">
        <form id="updateForm" method="post" novalidate="novalidate">
            <fieldset>
                <legend>修改信息填写栏</legend>
                <table id="tblUpdate">
                    <tr>
                        <td>
                            <input type="hidden" id="txtIdUpdate" name="Id" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUPID">代码：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtID" name="Code" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUPUserName">姓名：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtUPUserName" name="UserName" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUPRealName">真实姓名：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtUPRealName" name="RealName" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="txtUPMobile">手机：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox" type="text" id="txtUPMobile" name="Mobile" data-options="required:true,validType:'length[1,200]'" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnUpdate" iconcls="icon-ok">确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#UpdateDialog').dialog('close')">关闭</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</body>
</html>
